################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/L1/v17
/lab1/.vs/HalsteadCalculator/FileContentIndex
